# One of "mssql", "mysql", "postgresql" or "sqlite3"
dbType: mysql
# See: http://jinzhu.me/gorm/database.html#connecting-to-a-database
dbURI: 
# Default or your NATS
natsURL: nats://public:notsecure@ingest.albion-data.com:4222
# Every 3600 seconds (1 hour) trigger the expire check, if 0 it's disabled
expireCheckEvery: 3600